
@{
    Layout = null;
    
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <script src="~/assets/js-lib/angular.min.js"></script>
    <script src="~/assets/js-lib/angular-cookies.js"></script>
    <script src="~/assets/js/app/app.js"></script>
    <script src="~/assets/js/app/Controller/ProductCtr.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Prompt:wght@200&display=swap" rel="stylesheet">

    <title>Product_Details</title>
</head>

<body ng-app="myApp" ng-controller="productDetailController">
    <!-- header secction start -->
    <!-- navbar start   -->
    <nav class="navbar navbar-expand-lg bg-dark sticky-top px-5" id="navbar">
        <div class="container">
            <img src="/image/logo-white_170x.png" alt="companylogo">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown ps-4 fw-bold">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Home
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown ps-4 fw-bold">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Shop
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Products/Products">Dog Food</a></li>
                            <li><a class="dropdown-item" href="#">Cat Food</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown ps-4 fw-bold">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Collection
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown ps-4 fw-bold">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Blogs
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item ps-4 fw-bold">
                        <a class="nav-link text-white" href="#">Contact</a>
                    </li>
                </ul>
                <!-- Login buttons -->
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item">
                        <p id="set_name" class="text-white pe-2 d-inline" ng-bind="name"></p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white lg_texthide" href="#" ng-hide="hide"><i class="fa fa-search fs-5"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white lg_texthide" href="/Account/Login" ng-hide="hide"><i class="fa fa-user fs-5"></i></a>
                        <a href="#" class="text-light text-decoration-none" ng-bind="Logout" ng-click="logoutUser()"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white lg_texthide" href="~/Products/AddToCart"><i class="fa fa-shopping-bag fs-5"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar end  -->
    <!-- breadcrumb start  -->
    <div class="breadcrumbcolor pb-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb container">
                <li class="breadcrumb-item pt-2"><a href="#" class="text-light text-decoration-none">Home</a></li>
                <li class="breadcrumb-item pt-2"><a href="#" class="text-light text-decoration-none">Dog Food</a></li>
                <li class="breadcrumb-item active pt-2 text-light" aria-current="page" ng-bind="productPageDetail.Title"></li>
            </ol>
        </nav>
    </div>
    <!-- breadcrumb end  -->
    <!-- header end  -->
    <!-- main section start  -->
    <main class="container">
        <div class="row my-4">
            <!-- Product image  -->
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-12">
                        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    @*<img src="~/image/product-19.1_720x720.jpg" alt="sed porta" class="border rounded img-fluid">*@
                                    <img src="{{productPageDetail.Image}}" class="d-block w-100 border rounded" alt="sed porta">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/image/product-8.1_720x.jpg" class="d-block w-100 border rounded" alt="sed porta">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/image/product-9_720x.jpg" class="d-block w-100 border rounded" alt="sed porta">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/image/product-9.1_720x.jpg" class="d-block w-100 border rounded" alt="sed porta">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="row mx-auto my-2">
                            <div class="col-3">
                                <img type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1" src="{{productPageDetail.Image}}" alt="sed porta" class="active border rounded img-fluid">
                            </div>
                            <div class="col-3">
                                <img type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2" src="~/image/product-8.1_720x.jpg" alt="sed porta" class="border rounded img-fluid">
                            </div>
                            <div class="col-3">
                                <img type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3" src="~/image/product-9_720x.jpg" alt="sed porta" class="border rounded img-fluid">
                            </div>
                            <div class="col-3">
                                <img type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="3" aria-label="Slide 4" src="~/image/product-9.1_720x.jpg" alt="sed porta" class="border rounded img-fluid">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Product shopping Details -->
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-12">
                        <p class="fw-bold fs-2" ng-bind="productPageDetail.Title"></p>
                    </div>
                    <div class="col-12 text-start">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <div class="col-12 mt-1"> <span class="price_tag_color fs-3" ng-bind="'$'+productPageDetail.Price"></span> <span class="text-muted">Tax included.</span></div>
                    <div class="col-12">
                        <p class="fw-light text-muted">
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam
                        </p>
                    </div>
                    <div class="col-12">
                        <p class="fs-3">Size</p>
                        <button type="button" class="btn btn-outline-dark rounded-pill">4-lb bag</button>
                        <button type="button" class="btn btn-outline-dark rounded-pill">8-lb bag</button>
                        <button type="button" class="btn btn-outline-dark rounded-pill">12-lb bag</button>
                    </div>
                    <div class="col-12 mt-2">
                        <p class="fs-3">
                            <span>SKU:</span><span class="fw-lighter">N/A</span>
                            <span class="text-success ps-2 fs-6">&check;In stock</span>
                        </p>
                        <div class="d-flex justify-content-evenly">
                            <div class="input-group w-25 align-items-center">
                                <input type="button" value="-" class="button-minus border rounded-circle  icon-shape icon-sm mx-1 " data-field="quantity">
                                <input type="number" step="1" max="10" value="1" name="quantity" class="quantity-field border-0 text-center w-25">
                                <input type="button" value="+" class="button-plus border rounded-circle icon-shape icon-sm " data-field="quantity">
                            </div>
                            @*<button type="button" class="btn btn-outline-dark rounded-pill">1</button>*@
                            <button type="button" class="btn btn-dark rounded-pill w-25">Add To Cart</button>
                            <button type="button" class="btn btn-danger rounded-pill w-25">Buy Now</button>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div>
                            <span class="fw-bold">Product type: </span>
                            <a href="#" class="fw-lighter text-dark text-decoration-none link-danger">Dog Apparel</a>
                        </div>
                        <div>
                            <span class="fw-bold">Vendor:</span>
                            <a href="#" class="fw-lighter text-dark text-decoration-none link-danger"> Paw Nutrition</a>
                        </div>
                        <div>
                            <span class="fw-bold">Categories:</span>
                            <a href="#" class="fw-lighter text-dark text-decoration-none link-danger">Cat Food,</a>
                            <a href="#" class="fw-lighter text-dark text-decoration-none link-danger">Cat Toys,</a>
                            <a href="#" class="fw-lighter text-dark text-decoration-none link-danger">Dog Food,</a>
                            <a href="#" class="fw-lighter text-dark text-decoration-none link-danger">Dog Toys,</a>
                            <a href="#" class="fw-lighter text-dark text-decoration-none link-danger">Fish Food</a>
                        </div>
                        <div>
                            <span class="fw-bold">Tags:</span>
                            <a href="#" class="fw-lighter text-dark text-decoration-none link-danger"> Dog Toy</a>
                        </div>
                        <div>
                            <span class="fw-bold">Share:</span>
                            <span class="fw-lighter">
                                <i class="fa fa-facebook-square px-3 text-dark link-danger"></i>
                                <i class="fa fa-instagram px-3 text-dark link-danger"></i>
                                <i class="fa fa-twitter-square px-3 text-dark link-danger"></i>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Product Details tabbing style start  -->
        @*<div ng-cloak="" class="tabsdemoCenterTabs">
                <md-content>
                    <md-tabs class="md-primary" md-center-tabs="">
                        <md-tab label="Description">
                            <md-content class="md-padding">

                                <p class="md-body-1">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

                                    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                                </p>
                            </md-content>
                        </md-tab>
                        <md-tab label="Additional">
                            <md-content class="md-padding">
                                <h2 class="md-display-1">Tab Two</h2>
                                <p class="md-body-1">
                                    Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa
                                    orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in
                                    condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim,
                                    at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus.
                                </p>
                            </md-content>
                        </md-tab>
                        <md-tab label="Shipping & Return">
                            <md-content class="md-padding">
                                <h2 class="md-display-1">Tab Three</h2>
                                <p class="md-body-1">
                                    Reviews
                                    Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur
                                    posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse
                                    vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci
                                    commodo volutpat non ac est.
                                </p>
                            </md-content>
                        </md-tab><md-tab label="Reviews">
                            <md-content class="md-padding">
                                <h2 class="md-display-1">Tab Three</h2>
                                <p class="md-body-1">
                                    Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur
                                    posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse
                                    vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci
                                    commodo volutpat non ac est.
                                </p>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>*@

        <!-- You may also like section start -->
        <div class="row">
            <p class="text-center fs-1 fw-bold"><span class="heading_color">You may&nbsp;</span>also like</p>
            <p class="text-center fw-light mb-5">
                <span class="text-muted">
                    Sed quia consequuntur magni dolores eos qui ratione voluptatem
                    Cras faucibus tortor arcu
                </span>
            </p>
            <div class="product col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-4" ng-repeat="Product in Products | limitTo : 4 : 6">
                <img src="{{Product.Image}}" alt="Commodo leo sed porta"
                     class="img-fluid w-100 border rounded front_img">
                <img src="{{Product.Hover_Image}}" alt="Commodo leo sed porta"
                     class="img-fluid w-100 border rounded back_img">
                <div class="row mt-2">
                    <div class="col-12 text-center">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="col-12 text-center" ng-bind="Product.Title"></div>
                    <div class="col-12 text-center price_tag_color" ng-bind="'$'+Product.Price"></div>
                    <div class="col-12 text-center pt-2">
                        <a href="#" class="rounded-pill add_to_cart">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- You may also like section end -->


    </main>
    <!-- main section end   -->
    <!-- footer section start -->
    <footer class="row footer bg-dark">
        <div class="col-12 col-sm-12 col-lg-12 text-light">
            <div class="row pt-4">
                <div class="col-lg-6 col-md-4 col-sm-2 col-1"></div>
                <div class="col-lg-6 col-md-8 col-sm-10 col-11">
                    <div class="row">
                        <div class="col-lg-5 col-md-4 col-12 border-end border-danger">
                            <h5 class="text-danger">Sign up for offers</h5>
                            <p>
                                Sign up for our newsletter to receive <span class="d-block"></span> exclusive offers &
                                discounts!
                            </p>
                        </div>
                        <div class="col-lg-7 col-md-8 col-12 d-flex align-items-center justify-content-start position-relative">
                            <input type="text" class="form-control rounded-pill bg-light opacity-25 w-50"
                                   placeholder="Your email address...">
                            <button class="text-light rounded-pill position-absolute top-10 end-50 me-2 bg-danger opacity-75 border-0">
                                <i class="fa fa-envelope-o fa-lg px-3 py-1 m-auto"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row text-start py-4 fw-light ps-4">
                    <div class="col-12 col-lg-3 col-md-6 col-sm-6 my-3">
                        <img src="/image/logo-white_170x.png" alt="logo-white" class="img-fluid">
                        <p>
                            If you have any question, please contact us at <span class="d-block"></span>
                            support@gmail.com
                        </p>
                        <ul>
                            <li class="d-inline">
                                <i class="fa fa-facebook-square px-3"></i>
                                <i class="fa fa-instagram px-3"></i>
                                <i class="fa fa-twitter-square px-3"></i>
                                <i class="fa fa-pinterest-square px-3"></i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6 col-sm-6 my-3">
                        <h5>Corporate</h5>
                        <ul class="list-unstyled">
                            <li>Careers</li>
                            <li>About Us</li>
                            <li>Contact Us</li>
                            <li>FAQs</li>
                            <li>Vendors</li>
                            <li>Affiliate Programs</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6 col-sm-6 my-3">
                        <h5>Information</h5>
                        <ul class="list-unstyled">
                            <li>OnlineStores</li>
                            <li>Privacy Policy</li>
                            <li>Refund Policy</li>
                            <li>Shipping Policy</li>
                            <li>Terms of Service</li>
                            <li>Track Order</li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-3 col-md-6 col-sm-6 my-3">
                        <h5>Services</h5>
                        <ul class="list-unstyled">
                            <li>Grooming</li>
                            <li>Positive Dog Training</li>
                            <li>Vetenary Services</li>
                            <li>Petco Insurances</li>
                            <li>Pet Adoption</li>
                            <li>Resource Center</li>
                        </ul>
                    </div>
                    <hr>
                    <!-- copyright section -->
                    <div class="col-lg-6 col-12">
                        <h6>© 2021 Petio Pets Store</h6>
                    </div>
                    <!-- payment section -->
                    <div class="col-lg-6 col-12 d-flex justify-content-end">
                        <img src="/image/paymet-1.png" alt="payment card img">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section end -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>*@
    <script>

        // nav bar hide is you scroll down
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar").style.top = "0";
            } else {
                document.getElementById("navbar").style.top = "-80px";
                // $("#navbar").removeClass("d-none d-lg-block col-sm-3 sidenav-close").addClass("d-block sidenav");
                // $("#navbar").addClass("bg-white");
            }
            prevScrollpos = currentScrollPos;
        }
    </script>

</body>

</html>